# SPDX-FileCopyrightText: 2026 Progmasoft <support@progmasoft.com>
# SPDX-License-Identifier: MPL-2.0 WITH AdditionRef-Progmasoft-Exception-1.0

---
If:
  PathMatch: '.*\.h$'

CompileFlags:
  Compiler: C:/LLVM-dev-msvc/bin/clang-cl.exe
  CompilationDatabase: build/clangcl-debug
  Remove:
    - '/std:*'
    - '-std=*'
    - '-Werror'
    - '-D_GNU_SOURCE'
  Add:
    - '/TC'
    - '/std:c23'
    - '/Iinclude'
    - '/Ixs/include'
    - '/FIinclude/xs/compiler_check.h'

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
  MissingIncludes: Strict
  UnusedIncludes: Strict

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true

---
If:
  PathMatch: '.*\.c$'

CompileFlags:
  Compiler: C:/LLVM-dev-msvc/bin/clang-cl.exe
  CompilationDatabase: build/clangcl-debug
  Remove:
    - '/std:*'
    - '-std=*'
    - '-Werror'
    - '-D_GNU_SOURCE'
  Add:
    - '/std:c23'
    - '/Iinclude'
    - '/Ixs/include'
    - '/FIinclude/xs/compiler_check.h'

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
  MissingIncludes: Strict
  UnusedIncludes: Strict

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
...

---
If:
  PathMatch: '.*\.(hpp|cpp)$'

CompileFlags:
  Compiler: C:/LLVM-dev-msvc/bin/clang-cl.exe
  CompilationDatabase: build/clangcl-debug
  Remove:
    - '/std:*'
    - '-std=*'
    - '-Werror'
  Add:
    - '/std:c++20'
    - '/Iinclude'
    - '/Ixs/include'

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict
  MissingIncludes: Strict
  UnusedIncludes: Strict

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Hover:
  ShowAKA: true
...
