# SPDX-FileCopyrightText: 2026 Leitwolf <support@xsharp-lang.xyz>
# SPDX-License-Identifier: MPL-2.0

# yaml-language-server: $schema=https://json.schemastore.org/clang-format
---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
DisableFormat: false

ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
BracedInitializerIndentWidth: -1
TabWidth: 4
UseTab: Never
IndentPPDirectives: AfterHash
PPIndentWidth: 4

AccessModifierOffset: -4
IndentAccessModifiers: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock

IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: true

NamespaceIndentation: None
IndentExportBlock: true
IndentExternBlock: AfterExternBlock
IndentRequiresClause: true
IndentWrappedFunctionNames: false

BreakBeforeBraces: Allman

InsertBraces: false
RemoveBracesLLVM: false
RemoveSemicolon: false
RemoveParentheses: Leave

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
ShortNamespaceLines: 1

AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: BinPack
BinPackLongBracedList: true

BreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakFunctionDefinitionParameters: false
AllowBreakBeforeNoexceptSpecifier: Never

PenaltyBreakBeforeFirstCallParameter: 19
PenaltyReturnTypeOnItsOwnLine: 60
PenaltyBreakOpenParenthesis: 0
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakBinaryOperations: Never
SpaceBeforeAssignmentOperators: true
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Pointer
QualifierAlignment: Leave
SpaceAroundPointerQualifiers: Default

PenaltyBreakAssignment: 2
PenaltyBreakBeforeMemberAccess: 150
PenaltyBreakScopeResolution: 500
PenaltyBreakFirstLessLess: 120

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: false
  AfterNot: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: true
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false

SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: false
  InCStyleCasts: false
  InConditionalStatements: false
  InEmptyParentheses: false
  Other: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpacesInAngles: Never
SpaceInEmptyBraces: Never
SpaceBeforeCpp11BracedList: false

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeCaseColon: false
BitFieldColonSpacing: Both

AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: true

AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false

AlignConsecutiveMacros:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false

AlignConsecutiveBitFields:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false

AlignConsecutiveShortCaseStatements:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseArrows: false
  AlignCaseColons: false

AlignArrayOfStructures: None

AlignEscapedNewlines: Right

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
  AlignPPAndNotPP: true

SpacesBeforeTrailingComments: 1

Cpp11BracedListStyle: true
BreakAfterOpenBracketBracedList: false
BreakBeforeCloseBracketBracedList: false
BreakArrays: true
PackConstructorInitializers: BinPack
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: MultiLine
BreakBeforeTemplateCloser: false
PenaltyBreakTemplateDeclaration: 10
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

LambdaBodyIndentation: Signature
BreakAfterAttributes: Leave
AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: true
BreakAdjacentStringLiterals: true
PenaltyBreakString: 1000
AttributeMacros: []

IncludeBlocks: Preserve
SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: false
IncludeCategories:
  - Regex: '^"[^"]+"$'
    Priority: 1
    SortPriority: 1
    CaseSensitive: true
  - Regex: "^<[^>]+>$"
    Priority: 2
    SortPriority: 2
    CaseSensitive: true
  - Regex: ".*"
    Priority: 3
    SortPriority: 3
    CaseSensitive: true
IncludeIsMainRegex: "(_test)?$"
IncludeIsMainSourceRegex: ""
MainIncludeChar: Quote
SortUsingDeclarations: LexicographicNumeric

CompactNamespaces: false
FixNamespaceComments: true
WrapNamespaceBodyWithEmptyLines: Leave
SeparateDefinitionBlocks: Leave

ReflowComments: Always
PenaltyBreakComment: 300
CommentPragmas: "^ IWYU pragma:"
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
KeepFormFeed: false
RemoveEmptyLinesInUnwrappedLines: false

LineEnding: LF
InsertNewlineAtEOF: true

IntegerLiteralSeparator:
  Binary: 0
  BinaryMinDigits: 0
  BinaryMinDigitsInsert: 0
  BinaryMaxDigitsRemove: 0
  Decimal: 0
  DecimalMinDigits: 0
  DecimalMinDigitsInsert: 0
  DecimalMaxDigitsRemove: 0
  Hex: 0
  HexMinDigits: 0
  HexMinDigitsInsert: 0
  HexMaxDigitsRemove: 0
NumericLiteralCase:
  ExponentLetter: Leave
  HexDigit: Leave
  Prefix: Leave
  Suffix: Leave
EnumTrailingComma: Leave
InsertTrailingCommas: None

ExperimentalAutoDetectBinPacking: false
BreakBeforeInlineASMColon: OnlyMultiline
...
