# SPDX-FileCopyrightText: 2026 Leitwolf <xs-lang.chess031@slmails.com>
# SPDX-License-Identifier: MPL-2.0

build/
bin/
xide_api/
xide/
.codex/
target/
.gradle/
.kotlin/
Cargo.lock
*.sqlite3
node_modules/
dist/
out/
services/
website/
x-platform/
.idea/
